body {
  margin: 0;
  height: 100vh;
  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Micro 5", sans-serif;

}


.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(https://raw.githubusercontent.com/BlackStar1991/Ukrainian-Punk-Rock/main/stars.webp) repeat top center,
  linear-gradient(180deg, #101010 54%, #1A1B8A 62%, #B960B4 66%, #D54CA3 69%, #143545 75%, #000 87%, #000);

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 68%;
    transform: translateY(-50%);
    height: 20vh;
    width: 100%;

    background-color: #0F4659;
    background-size: cover;

    clip-path: polygon(0% 100%, 0% 17%, 3% 60%, 8% 42%, 10% 63%, 17% 37%, 20% 28%, 24% 51%, 28% 50%, 31% 43%, 34% 55%, 40% 37%, 45% 58%, 50% 43%, 55% 60%, 62% 41%, 70% 69%, 74% 49%, 78% 62%, 84% 36%, 89% 65%, 95% 41%, 100% 55%, 100% 100%);

  }
}


.block {
  position: relative;

  width: 15vw;
  height: 75vh;
  box-sizing: border-box;
  z-index: 2;

  img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
}

.video_block {
  position: relative;
  height: 70vh;
  aspect-ratio: 16 / 9;
  z-index: 3;
}

video {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  cursor: pointer;
}

h1 {
  position: relative;
  margin: 0 auto;
  color: #EFFF01;
  font-size: 15vh;
  width: 100%;
  text-align: center;
  background: #000;
  z-index: 3;
}

*::selection {
  color: #EFFF01;
  background-color: #021aff;
}


.btn_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: none;
  z-index: 4;
  border: none;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.btn_play img {
  width: 18vh;
  height: 18vh;
  object-fit: contain;
  transform: scale(1);

  transition: .12s ease-in;
}

.btn_play.active img {
  transform: scale(1.2);
  animation: button-play 700ms linear;
  animation-fill-mode: forwards;
}

@keyframes button-play {
  0% {
    transform: scale(1.2) rotate(0);
    opacity: 1;
  }
  70% {
    transform: scale(1.2) rotate(90deg);
    opacity: 1;
  }


  100% {
    transform: scale(1.2) rotate(90deg);
    opacity: 0;
  }
}